<%- include('../partials/header') %>

<h2>Open Outreach Requests</h2>
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>When</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% outreaches.forEach(function(o) { %>
        <tr>
          <td><%= o.title %></td>
          <td><%= o.description %></td>
          <td><%= o.location %></td>
          <td><%= o.when %></td>
          <td><button><a href="/outreaches/<%= o._id %>">INFO</a></button></td>
          <td>
            <% if (user?._id.equals(o.userId)) { %>
              <form action="/outreaches/<%= o._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>