<%- include('../partials/header') %>

<section id="show-page">
    <div>Outreach Title: </div>
    <div><%= outreach.title %></div>
    <div>Description: </div>
    <div><%= outreach.description %></div>
    <div>Location: </div>
    <div><%= outreach.location %></div>
    <div>When: </div>
    <div><%= outreach.when %></div>
</section>
  
  
 
  
  
 
<%- include('../partials/footer') %>